.log/
target/
RUNNING_PID
.Dockerfile.swp
.idea/
.vscode/
*.swp
.bsp/
.DS_Store
.secrets
.dockerlogs
*.pem
*.dump
*.terraform
*.terraform.lock.hcl
*.tfvars
cloud/**/backend_vars
*_override.tf
!*example.auto.tfvars
terraform.tfstate**
.terraform.tfstate**
*.pyc
terraform_plan
*.iml

*/.classpath
*/.vscode
*/.project
**/.data
**/.metals/
**/.bloop/
**/.ammonite/
**/metals.sbt
**/pom.xml
**/gh-release-token.txt
