name: aws_oidc deploy test
on:
  workflow_dispatch: {}
  pull_request:
    branches: 
    - main

concurrency:
  group: aws-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: read-all

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SKIP_USER_INPUT: true
    steps:
      - name: Check out branch
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
       
      - name: Install terraform cli
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Install requests
        run: pip install requests

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Resolve latest snapshot tag
        run: source cloud/shared/bin/resolve-latest-snapshot-tag

      - name: Copy the config from staging
        run: |
          #  Grab the config from the staging deploy repo to confirm
          #  the changes work with actual data
          curl https://raw.githubusercontent.com/civiform/civiform-staging-deploy/main/aws_staging_civiform_config.sh -H "Authorization: Bearer ${{ secrets.CIVIFORM_GITHUB_AUTOMATION_PERSONAL_ACCESS_TOKEN }}" > civiform_config.sh
          echo 'export CIVIFORM_MODE="test"' >> civiform_config.sh
          echo 'export USE_LOCAL_BACKEND=true' >> civiform_config.sh

      - name: Source config, set CIVIFORM_MODE to be "test", Run deploy with latest tag
        run: |
          export IMAGE_TAG="${LATEST_SNAPSHOT_TAG}"
          cloud/shared/bin/deploy
          exit $?

      - name: Source config, set CIVIFORM_MODE to be "test", Run setup with latest tag
        run: |
          export TEST_CONFIG_CONTENT="export APP_PREFIX="$(git rev-parse --short HEAD)
          echo $TEST_CONFIG_CONTENT >> civiform_config.sh
          export IMAGE_TAG="${LATEST_SNAPSHOT_TAG}"
          cloud/shared/bin/setup
          exit $?
