name: e2e-test
on:
  # Runs every day at 3:11 UTC.
  schedule:
    - cron: "11 3 * * *"
  # Allow manually triggered runs.
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  run-e2e-aws-oidc:
    runs-on: ubuntu-latest
    # Makes it so only one instance of this workflow can run at a time:
    # https://docs.github.com/en/actions/using-jobs/using-concurrency
    concurrency: run-e2e-aws-oidc
    steps:
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: '3.9'
        
      - name: Install requests
        run: pip install requests
        
      - name: Checkout civiform/cloud-deploy-infra
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          repository: civiform/cloud-deploy-infra
          path: cloud-deploy-infra

      - name: Checkout civiform/civiform-deploy
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          repository: civiform/civiform-deploy
          path: civiform-deploy

      - name: Install terraform cli
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_wrapper: false

      - id: get-nuke
        name: Get aws-nuke
        run: |
          wget https://github.com/ekristen/aws-nuke/releases/download/v3.17.3/aws-nuke-v3.17.3-linux-amd64.tar.gz -O aws-nuke-v3.17.3-linux-amd64.tar.gz
          tar -xzf aws-nuke-v3.17.3-linux-amd64.tar.gz
          sudo mv aws-nuke /aws-nuke
          sudo chmod u+x /aws-nuke

      - id: get-aws-creds
        name: Authenticate to AWS
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          # Role in civiform-deploy-e2e-tests account.
          role-to-assume: arn:aws:iam::296877675213:role/e2e-test-runner
          aws-region: us-east-1

      - name: Pre nuke
        run: /aws-nuke run --config $GITHUB_WORKSPACE/cloud-deploy-infra/e2e-test/nuke.yaml --no-dry-run --force --force-sleep=3

      - name: Resolve latest snapshot tag
        # The output is written to GITHUB_ENV as LATEST_SNAPSHOT_TAG
        run: source cloud-deploy-infra/cloud/shared/bin/resolve-latest-snapshot-tag

      - name: Run bin/setup
        run: |
          # Must run setup scripts from this directory due to 'source' lines in the scripts.
          cd $GITHUB_WORKSPACE/civiform-deploy
          yes yes | bin/setup --config=$GITHUB_WORKSPACE/cloud-deploy-infra/e2e-test/civiform_config_aws_oidc.sh

      - name: Post nuke
        # Post nuke should run even if bin/setup fails. Therefore we need the
        # '(success() || failure())' condition: if a status check function is
        # not included in the 'if', the success() function is included by
        # default:
        # https://docs.github.com/en/actions/learn-github-actions/expressions#status-check-functions.
        if: (success() || failure()) && steps.get-nuke.outcome == 'success' && steps.get-aws-creds.outcome == 'success'
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: /aws-nuke run --config $GITHUB_WORKSPACE/cloud-deploy-infra/e2e-test/nuke.yaml --no-dry-run --force --force-sleep=3
      - name: Notify Slack Complete
        if: always()
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2
        with:
          method: chat.postMessage
          token: ${{ secrets.CIVIBOT_TOKEN }}
          payload: |
            channel: ${{ env.CHANNEL_ID }}
            text: "${{ env.STATUS_ICON }} AWS e2e test for ${{ env.LATEST_SNAPSHOT_TAG }}: <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ job.status }}>"
        env:
          CHANNEL_ID: C03UXPUEXU4
          STATUS_ICON: ${{fromJSON('[":no_entry:", ":white_check_mark:"]')[job.status == 'success']}}
