name: e2e-test
on:
  schedule:
    # Runs every day at 3:12 UTC.
    - cron: '12 3 * * *'
permissions:
  id-token: write
  contents: read
jobs:
  run-e2e-aws-oidc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout civiform/cloud-deploy-infra
        uses: actions/checkout@v3
        with:
          repository: civiform/cloud-deploy-infra
          path: cloud-deploy-infra
      - name: Checkout civiform/civiform-deploy
        uses: actions/checkout@v3
        with:
          repository: civiform/civiform-deploy
          path: civiform-deploy

      - id: get-nuke
        name: Get aws-nuke
        run: |
          wget https://github.com/rebuy-de/aws-nuke/releases/download/v2.21.2/aws-nuke-v2.21.2-linux-amd64.tar.gz -O aws-nuke-v2.21.2-linux-amd64.tar.gz
          tar -xzf aws-nuke-v2.21.2-linux-amd64.tar.gz
          sudo mv aws-nuke-v2.21.2-linux-amd64 /aws-nuke
          sudo chmod u+x /aws-nuke
      - id: get-aws-creds
        name: Authenticate to AWS
        uses: aws-actions/configure-aws-credentials@v1
        with:
          # Role in cloud-deploy-infra-tests-0 account.
          role-to-assume: arn:aws:iam::178882378957:role/e2e-test-runner
          aws-region: us-east-1

      - name: Pre nuke
        run: /aws-nuke --config $GITHUB_WORKSPACE/cloud-deploy-infra/e2e-test/nuke.yaml --no-dry-run --force --force-sleep=3

      - name: Run bin/setup
        run: |
          # Must run setup scripts from this directory due to 'source' lines in the scripts.
          cd $GITHUB_WORKSPACE/civiform-deploy
          yes yes | bin/setup --config=$GITHUB_WORKSPACE/cloud-deploy-infra/e2e-test/civiform_config_aws_oidc.sh

      - name: Post nuke
        # Post nuke should run even if bin/setup fails. Therefore we need the
        # '(success() || failure())' condition: if a status check function is
        # not included in the 'if', the success() function is included by
        # default:
        # https://docs.github.com/en/actions/learn-github-actions/expressions#status-check-functions.
        if: (success() || failure()) && steps.get-nuke.outcome == 'success' && steps.get-aws-creds.outcome == 'success'
        run: /aws-nuke --config $GITHUB_WORKSPACE/cloud-deploy-infra/e2e-test/nuke.yaml --no-dry-run --force --force-sleep=3
