name: build_push_metrics_scraper_image

on:
  push:
    branches:
      - main
  # Setting this enables manually triggering workflow in the GitHub UI
  # see https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow
  workflow_dispatch: {}

permissions: read-all

# Build and push the monitoring image.
jobs:
  build_monitoring:
    runs-on: ubuntu-latest

    concurrency:
      group: build-${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    name: Build monitoring
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      #- id: file_changes
      #  uses: tj-actions/changed-files@v45
      #  with:
      #    json: 'true'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - name: Run build
        id: build_and_push_monitoring
        env:
          DOCKER_BUILDKIT: 1
          PLATFORM: 'linux/amd64'
          DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
        #if: contains(toJSON(steps.file_changes.outputs.all_changed_files), 'cloud/aws/metrics/')
        run: |
          cd $GITHUB_WORKSPACE/cloud/aws/metrics
          ./build-scraper