name: PyTest

on:
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
          - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

          - name: Set up Python
            uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
            with:
              python-version: '3.9'

          - name: Install dependencies
            run: |
              python -m pip install --upgrade pip
              pip install pytest
              pip install requests
          - name: Test with pytest
            run: pytest
