name: PyTest

on:
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
          - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

          - name: Set up Python
            uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
            with:
              python-version: '3.9'

          - name: Install dependencies
            run: |
              python -m pip install --upgrade pip
              pip install pytest
              pip install requests
          - name: Test with pytest
            run: pytest
