name: PyTest

on:
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
          - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

          - name: Set up Python
            uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
            with:
              python-version: '3.9'

          - name: Install dependencies
            run: |
              python -m pip install --upgrade pip
              pip install pytest
              pip install requests
          - name: Test with pytest
            run: pytest
