name: Tag Repo

on:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: 'Commit SHA'
        required: true
        default: 'main'

      version:
        description: 'The version for this release, matching the CiviForm release version, e.g. v1.2.3'
        required: true

jobs:
  tag:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
          with:
            fetch-depth: 0
        - name: Tag the repo
          run: |
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git config user.name "github-actions[bot]"
            git tag ${{ github.event.inputs.version }} ${{ github.event.inputs.commit_sha }} --message "${{ github.event.inputs.version }}"
            git push origin ${{ github.event.inputs.version }}
